/*

          GENERAL SETTINGS

 */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     color: #5d6981;
     font-family: 'Roboto', sans-serif;
}

a:link {
     color: #5d6981;
     text-decoration: none;
}

.menu-items > li > a:visited {
     color: #5d6981;
     opacity: 0.9;
}

a:hover {
     opacity: 0.92;
}

a:active {
     color: #5d6981;
}





/*

          HEADER

 */

.page-header {
     margin: 0 auto;
     width: 1170px;
     display: flex;
     justify-content: space-between;
     font-size: 20px;
     z-index: 10;
}

header.page-header {
     width: 100%;
     border-bottom: .5px solid #5d6981;
     position: sticky;
     top: 0;
     background-color: #fff;
}

.logo {
     padding: 20px;
}

.page-header .menu-items li {
     display: inline-block;
     list-style: none;
     margin: 16px 25px;
     font-size: 20px;
     font-weight: 400;
     padding-top: 10px;
}

.page-header .menu-items li .active {
     border: 1px solid #5d6981;
     padding: 10px 17px;
     border-radius: 40px;
}

.page-header .menu-items li.menu-icon {
     margin: 0px;
}

.fb-icon {
     margin-left: 20px;
}

.fa-facebook-f {
     color: #3c5a99;
     border: 1px solid #3c5a99;
     border-radius: 50%;
     padding: 9px 14px;
}

.tw-icon {
     padding-left: 15px;
}

.fa-twitter {
     color: #28aae1;
     border: 1px solid #28aae1; 
     border-radius: 50%;
     padding: 9px 9px;
}

/*

          HEADER ENDS HERE

 */



 /*

          FIRST-SECTION

 */

.page-section, .first-section {
     width: 1170px;
     margin: 110px auto 0px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
}

.first-section .container {
     margin: 30px 0 0;
     text-align: center;
}

.container .section-header > h1 {
     color: #0149a1;
     font-size: 4.2em;
     margin: 0;
}

.container .section-header > p {
     font-size: 2em;
}

.first-section .container .section-header {
     margin-bottom: 6em;
}

.intro-with-btn {
     margin-bottom: 6em;
}

.btn, .btn-primary {
     background-color: #ff2d55;
     padding: 14px 50px;
     border-radius: 40px;
     font-size: 14px;
     color: #fff;
}

.intro-video {
     position: relative;
}

.first-section > .container > .intro-video { 
     justify-content: center;
     display: flex
}

.first-section > .container > .intro-video > .btn {
     position: absolute;
     top: 18em;
     text-align: center;
     background-color: white;
     color: #000;
}

.white {
     font-size: 14px;
     font-weight: bold;
     color: #0149a1;
     padding-right: 20px;
}

.play-icon {
     position: absolute;
     top: 11px;
     right: 20px;
}

.image-boxes .container {
     display: flex;
     padding-top: 90px;
     flex-basis: 25%;

}

.item-box {
     width: 25%;
     margin-right: 1em;
}

.image-boxes .container h3 {
     font-size: 30px;
     font-weight: bold;
     text-transform: capitalize;
     padding-top: 36px;
}

.image-boxes .container .item-box:nth-child(2) h3 {
     padding-top: 30px;
}

.image-boxes .container .item-box:nth-child(3) h3 {
     padding-top: 32px;
}

.image-boxes .container .item-box:nth-child(4) h3 {
     padding-top: 27px;
}

.image-boxes .container .item-box:nth-child(4) img {
     padding-top: 18px;
}

.image-boxes .container p {
     font-size: 18px;
     font-weight: 100;
     text-transform: capitalize;
     padding-top: 30px;
}


 /*

          FIRST-SECTION ENDS

 */



 /*

          MAIN SECTION

 */


.main-section .color-section {
     height: 610px;
     width: 100%;
     position: relative;
}

.main-section .color-section .section-header {
     width: 100%;
     height: auto;
     background-image: url("../img/main-section-back.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     justify-content: center;
}

.main-section .color-section .section-header a.btn-blue {
     position: absolute;
     background-color: #0149a1;
     top: 380px;
     box-shadow: 0px 0px 220px 91px rgba(255,255,255,1);
     color: #fff;
}

.main-section .info {
     width: 100%;
     height: 900px;
     background-color: #0149a1;
     margin-top: 3px;
     display: flex;
     flex-flow: column;
     align-items: center;
     flex-basis: 50%;
     position: relative;
}

.main-section .info .section-header {
     padding: 100px 0;
     
}

.main-section .info .section-header h1 {
     margin: 0;
     font-size: 72px;
     text-align: center;
     color: #fdfdfe
}

.main-section .info .section-header p {
     margin: 0;
     font-size: 36px;
     color: #5483bb;
}

.main-section .info .container {
     display: flex;
     flex-flow: row;
     margin: 0 430px;
     justify-content: center;
     flex-shrink: 0;
}

.main-section .info .container > img, p {
     padding: 0 30px;
     flex-basis: 50%;
}

.main-section .info .container img {
     max-width: auto;
}

.main-section .info .container p {
     width: 517px;
     color: #fff;
     text-align: justify;
     font-size: 18px;
     line-height: 2em;
}

.main-section .info a.btn-white {
     color: #0149a1;
     background-color: #fff;
     position: absolute;
     top: 725px;
     padding: 16px 51px;
     font-weight: bold;
}


 /*

          MAIN SECTION ENDS

 */


  /*

          COMMENTS SECTION

 */


.section-comments {
     height: 630px;
     display: flex;
     align-items: center;
     position: relative;
     flex-flow: column;
     text-align: center;
}

.comments-container {
     position: absolute;
     top: 130px;
}

.comments-container img {
     padding-bottom: 50px; 
}

.comments-container .paragraphs {
     text-align: center;
     width: 585px;
     color: #7c8ca0;
     
}

.comments-container .paragraphs > p {
     padding-bottom: 45px;
     text-decoration: inherit;
     font-size: 24px;
     font-style: italic;
}

.comments-container .paragraphs > p.secNd {
     font-size: 18px;
}

.slider-arrows {
     width: 800px;
     height: 10px;
     position: relative;
     top: 305px;
}

.next-slide {
     right: 25px;
}

.prev-slide {
     left: 25px;
}

.section-comments button.arrow {
     padding: 20px;
     border: 1px solid #7c8ca0;
     background-color: #fff;
     border-radius: 33px;
     opacity: 0.7;
     position: absolute;
     top: 50%;
     cursor: pointer;
}

.fa {
     font-size: 30px;
     color: #7c8ca0;
}


  /*

          COMMENTS SECTION ENDS

 */



   /*

          TEAM MEMBERS

 */



.team-members-section {
     height: 930px;
     background-color: #edeff1;
     margin: 10px auto 0px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     flex-basis: 100%;
     flex-flow: column;
     position: relative;
}

.team-members-header {
     margin-bottom: 6em;
     width: 100%;
     text-align: center;
     position: absolute;
     top: 110px;
}

.team-members-header > h1 {
     color: #0149a1;
     font-size: 4.2em;
     margin: 0;
}

.team-members-header > p {
     font-size: 2em;
}

.team-members-section .team-members {
     margin: 170px 0 0;
     text-align: center;
     display: flex;
     justify-content: center;
     width: 1170px;
}

.team-members-section > .btn {
     margin-top: 70px;
}



.team-members h3 {
     font-size: 30px;
     font-weight: bold;
     text-transform: capitalize;
     padding-top: 36px;
}

.team-item {
     width: 25%;
     margin-right: 1em;
}

.team-members p {
     font-size: 18px;
     font-weight: 100;
     text-transform: capitalize;
     padding-top: 30px;
}


   /*

          TEAM MEMBERS ENDS

 */

    /*

          GOOGLE MAPS

 */


section.google-maps {
     width: 100%;
     height: 592px;
     background-image: url("../img/google-maps.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}


  /*

          GOOGLE MAPS ENDS

 */


   /*

          FOOTER

 */


 footer.page-footer {
     height: 730px;
     width: 100%;
     background-color: #0149a1;
     margin: 0 auto;
     
 }

 section.links {
     width: 100%;
     display: flex;
     flex-flow: column;
     align-items: center;

 }

 .link-columns a {
     margin-top: 20px;
 }