/*

          GENERAL SETTINGS

 */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     color: #5d6981;
     font-family: 'Roboto', sans-serif;
}

a:link {
     color: #5d6981;
     text-decoration: none;
}

a:visited {
     color: #5d6981;
     opacity: 0.9;
}

a:hover {
     opacity: 0.8;
}

a:active {
     color: #5d6981;
}





/*

          HEADER

 */

.page-header {
     margin: 0 auto;
     width: 1170px;
     display: flex;
     justify-content: space-between;
     font-size: 20px;
}

header.page-header {
     width: 100%;
     border-bottom: .5px solid #5d6981;
     position: sticky;
     top: 0;
     background-color: #fff;
}

.logo {
     padding-top: 47px;
}

.page-header .menu-items li {
     display: inline-block;
     list-style: none;
     padding-left: 52px;
     padding-top: 43px;
     padding-bottom: 43px;
     font-size: 20px;
}

.page-header .menu-items li .active {
     border: 1px solid #5d6981;
     padding: 10px 15px;
     border-radius: 33%;
     width: 102px;
}

.page-header .menu-items li.menu-icon {
     padding-left: 0px;
}

.fb-icon {
     padding-left: 60px;
}

.fa-facebook-f {
     color: #3c5a99;
     border: 1px solid #3c5a99;
     border-radius: 50%;
     padding: 9px 14px;
}

.tw-icon {
     padding-left: 15px;
}

.fa-twitter {
     color: #28aae1;
     border: 1px solid #28aae1; 
     border-radius: 50%;
     padding: 9px 9px;
}

